.homeCard{
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    max-height: 230px;
}

.title{
    font-weight: bold;
    font-style: italic;
    color: var(--brand-color);
}






