
.menuItems{
    /* min-width: 120px; */
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    padding: 5px 20px;
}


.title{
    /* font-weight: bold; */
    color: var(--black-text);
    margin: 0px 10px;
    font-size: 14px;
}

.subtitle{
    color: var(--black-text);
    margin: 0px 10px;
    font-size: 13px;
}

.scrollX{
    overflow-y: auto;
}

.space{
    margin-right: 10px;
}


.label{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    color: var(--black-text);
    font-weight: bold;
}

.italic{
    font-style: italic;
    font-size: 13px;
    color: var(--black-text);
}


.tabBody{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black-text);
    font-size: 13px;
}

.welcome{
    font-size: 20px;
    color: var(--brand-color);
    text-align: center;
}

.line2{
    font-size: 14px;
    text-align: center;
}

.line3{
    font-size: 12px;
    text-align: center;
}


/* ====================== TABLE ========================= */
.table{
    color: var(--black-text);
    /* border: 1px solid var(); */
    width: 100%;
    
}

.shadow{
     box-shadow: 0 0 20px 0px var(--shadow-color);
     margin: 10px;
     border-radius: 15px;
     padding: 10px;
     background-color: white;
}

.table tr{
    border-bottom: 1px solid rgba(0,0,0,0.1);
   
}

.table td{
    padding: 5px;
    padding-left: 15px;
    font-size: 14px;

}

.head{
    /* background-color: var(--brand-color); */
    border-bottom: 3px solid var(--dialog-color);

    color: var(--brand-color);
    /* font-weight: bold; */
    padding: 0px 15px;
    padding-bottom: 5px;

}

.tabPane{

    display: flex;
    background-color: var(--base-color);
    margin-top:15px;
    margin-left: 10px;
    margin-right: 10px;
    
    /* border-radius: 5px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    box-shadow: 0 0 20px 0px var(--shadow-color);
    color: var(--black-text);
}

.tabPane div{
    
    transition: all 0.3s;
    padding: 6px 10px;
    margin: 0px 10px;

    border-bottom: 3px solid transparent;
    font-size: 14px;
    cursor: pointer;
}
