
.menuItems{
    /* min-width: 120px; */
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    padding: 5px 10px;
}

.title{
    /* font-weight: bold; */
    color: var(--black-text);
    font-size: 14px;
}

.bar{
    width: 3px;
    height: 18px;
    min-width: 3px;
    background-color: var(--scroll-color);
    border-radius: 10px;
    margin-right: 10px;
}

.scroll{
    overflow-y: auto;
}

.nameInput{
    border: none;
    outline: none;
    margin: 2px;
    max-width: 200px;
    height: 30px;
    box-shadow: 0 0 8px 0px var(--shadow-color);
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--base-color);
    color: var(--black-text);
    transition: all 0.3s;
    border-radius: 50px;
    border: 1px solid var(--brand-color);
}

.space{
    margin-right: 10px;
}

.tabPane{

    display: flex;
    background-color: var(--base-color);
    margin-top:15px;
    
    /* border-radius: 5px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    box-shadow: 0 0 20px 0px var(--shadow-color);
    color: var(--black-text);
}

.tabPane div{
    
    transition: all 0.3s;
    padding: 6px 10px;
    margin: 0px 10px;

    border-bottom: 3px solid transparent;
    font-size: 14px;
    cursor: pointer;
}


.tabPane div:hover{
    color: var(--brand-color);
}

.tabPane div:active{
    transform: scale(0.9);
}

.tabPane .active{
    /* font-weight: bold; */
    border-bottom: 3px solid var(--brand-color);
}

.label{
    font-size: 14px;
    color: var(--black-text);
    margin-right: 10px;
    font-weight: 500;
}

.italic{
    font-style: italic;
    font-size: 12px;
    color: var(--black-text);
}

.tabBody{
    border: 1px solid rgba(0,0,0,0.15);
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}


.path{
    display: flex;
    align-items: center;

    border: none;
    outline: none;
    margin: 2px;
    max-width: 200px;
    height: 30px;
    box-shadow: 0 0 8px 0 var(--shadow-color);
    padding-left: 10px;
    padding-right: 10px;
 
    background-color: var(--base-color);
    color: var(--black-text);
    transition: all 0.3s;
    border-radius: 50px;
    font-size: 12px;
    min-width: 200px;
    max-width: 250px;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
}


.dotList{
    display: inline-flex;
    align-items: center;

}

.dot{
    background-color:rgba(200,200,200, 0.4);
    width: 7px;
    height: 7px;
    border-radius: 30px;
    margin: 0 2px 0 5px;
}

.addLater{
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 20px;
    background: linear-gradient(to right, var(--neutral-card-color), transparent);
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 15px;
    color: var(--brand-color);
}

.addLater label{
    margin-left: 5px;
    cursor: pointer;
}

.addLater:hover{
    color: var(--brand-color);
}

.later{
    opacity: 0.3;
    pointer-events: none;
}