
.pane{
    /* min-width: 120px; */
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    padding: 5px 10px;
}

.title{
    /* font-weight: bold; */
    color: var(--black-text);
    font-size: 14px;
}
